*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family:'Conv_GothamBook';
    color: #47a3da;
    font-weight: 400;
    min-height: 900px;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

#banimg{
	width:100%;
	height:520px;
}

.resize{
	width:150px;
	max-width:100%;
	padding-bottom:16px;
}

.resize2{
	width:250px;
	max-width:350px;
	padding-bottom:0px;
	}

.resize2:hover{
	border-bottom:2px solid #E85550;
}

.resize3{
	width:100%;
	max-width:100px;
	padding-top:12px;
	}


.container > header {
	width: 100%;
	max-width:90em;
	margin: 0 auto;
	padding: 1.5em 0.5em 0.5em;
}
.container > header nav {
	float: right;
	text-align: center;
}

.container > header nav a {
	display: inline-block;
	position: relative;
	text-align: left;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
}
.container > header nav a:hover:before {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.container > header nav a:hover {
	background: #47a3da;
}
.container > header nav a:hover:after {
	color: #fff;
}

@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}
	.container > header nav {
		margin: 0 auto;
	}
}

.containersupport{
	background: #F9F9F9;
}
.sectionsupport{
	float:left;
	font-family: 'Conv_GothamBook';
	margin-left: 5px;
	margin-right:5px; 
	color:black;
	text-align: left;
}

.sectionsupport , h1{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size:22px;
	font-weight: bold;
	}

.sectionsupport , h2{
	padding-bottom: 15px;
	font-size:20px;	
	font-weight: bold;
}

.sectionsupport , h3{
	font-size:15px;	
	padding-bottom: 10px;
}

.colormes{
	font-weight: normal;
color:#0183FB;
}
.colorvib{
	font-weight: normal;
color:#7B519D;
}
.sectionsupport , .imgsizesocial{
	padding:30px 30px;
}

#formplacement{
	float:right;
	color:black;
	font-family: 'Conv_GothamBook';
	padding-top: 100px;
	margin-left: 5px;
	margin-right:5px; 
	
}
.contact{
width:100%;


}
input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 350px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
}

textarea {
	width: 350px;
	height: 150px;
	max-width: 550px;
	line-height: 18px;
}

@media only screen and (min-width:320px){
input, textarea {
		width: 300px;

}	
textarea {
	width: 300px;
}

@media only screen and (min-width:768px){
input, textarea {
		width: 600px;

}	
textarea {
	width: 600px;
}

}

@media only screen and (min-width:1024px){
input, textarea {
		width: 350px;
		
}	
textarea {
	width: 350px;
}

}


input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}

.form label {
	margin-left: 10px;
	color: #999999;
	font-size: 20px;
	text-align:left;
	text-decoration:none;
}

.submit input {
	width: 100px; 
	height: 40px;
	background-color: #474E69; 
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		
}





.tableblock{
  position:relative;
  font-family: 'Conv_GothamBook';
  color:black;
  font-weight:bold;
}


.tableheading{
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid #EEEEEE;
}

.tablecontent{
  text-align: left;
  border-bottom: 2px solid #EEEEEE;
}
.trblock{
	text-align: left;
  border-bottom: 2px solid #EEEEEE;
}

td > h2{

	font-weight:normal;
	font-size:20px;
	color:#727272;
}

.sectionabout{
	font-family: 'Conv_GothamBook';
	margin-left: 90px;
	margin-right:90px; 
	text-align:justify;
	letter-spacing: 0.5px;
}


.sectionabout, h1{
	color:black;
}

.sectionabout, p{
	color:#5b5959;
}
