/*Mega3*/
.containerclonemega3a{
  background-image: url(..//images/mega3/1.jpg);
  height:auto;
}

.containerclonemega3b{
  background-image: url(..//images/mega3/2.jpg);
  height:auto;

}

.containerclonemega3c{
  background-image: url(..//images/mega3/3.jpg);
  height:auto;

}

.containerclonemega3d{
  background-image: url(..//images/mega3/4.jpg);
  height:auto;
}


.containerclonemega3e{
  background-image: url(..//images/mega3/5.jpg);
  height:auto;

}

.containerclonemega3f{
	background-image: url(..//images/mega3/lightbg.jpg);
  height:auto;
}



.containerclonemega3banner{
   height:auto;
}

#imgbanner{
  padding-top: 50px;
  padding-bottom: 50px;
}


@media only screen and (min-width: 768px){

#imgbanner{
  padding-top: 80px;
  padding-bottom: 80px;
}

}

@media only screen and (min-width: 1024px){

#imgbanner{
  padding-top: 100px;
}

}




.sectionfontsmega3{
  font-family: 'Conv_GothamBook';
  font-weight: 400;
  letter-spacing: 0.3px;
}


.landingimg1{
    float:left;
    width:100%;
    max-width:150px;
    padding-top: 30px;
    padding-bottom:10px;
    margin-left:80px;
}

.landingimgcam{
	float:left;
    width:100%;
    max-width:100px;
    padding-top: 30px;
    padding-bottom:10px;
    margin-left:80px;	
}
.sectionrightmega3{
  float:right;
  padding-top: 10px;
  padding-bottom:40px;
  padding-right: 40px;
  text-align: left;
}

.sectionfontsmega3 > .sectionrightmega3 , .rightheading1{
  font-size:17px;
  color:#000000;
  padding-bottom:5px;
}

.sectionfontsmega3 > .sectionrightmega3 , .rightheading2{
  font-size:12px;
  letter-spacing: 0.15px;
  padding-top: 5px;
  color:#000000;
  width:250px;
}

@media only screen and (min-width: 375px){

.landingimg1{
    max-width: 180px;
    margin-left:85px;
}


.landingimgcam{
    max-width: 140px;
    margin-left:75px;
}

.sectionrightmega3{
  padding-right: 50px;
}


.sectionfontsmega3 > .sectionrightmega3 , .rightheading1{
  font-size:19px;
}

.sectionfontsmega3 > .sectionrightmega3 , .rightheading2{
  font-size:14px;
  width:280px;
}

}

@media only screen and (min-width: 480px){


.landingimgcam{
    max-width: 170px;
    margin-left:135px;
}


.landingimg1{
   padding-top: 25px;
    max-width: 200px;
    margin-left:130px;
}

.sectionrightmega3{
  padding-right: 65px;
}


.sectionfontsmega3 > .sectionrightmega3 , .rightheading1{
  font-size:18px;
}

.sectionfontsmega3 > .sectionrightmega3 , .rightheading2{
  font-size:16px;
  width:350px;
}

}


@media only screen and (min-width: 768px){

.containerclonemega3c{
	height:540px;
}


.containerclonemega3b{
	height:540px;
}

.landingimgcam{
    max-width: 240px;
    padding-top: 80px;
    margin-left:5px;
}

.landingimg1{
    max-width: 280px;
    padding-top: 80px;
    margin-left:5px;
}

.sectionrightmega3{
  padding-top: 150px;
  padding-right: 10px;
}


.sectionfontsmega3 > .sectionrightmega3 , .rightheading1{
  font-size:30px;
}


}


@media only screen and (min-width: 1024px){


.containerclonemega3b{
	height:600px;
}

.containerclonemega3c{
	height:600px;
}


.landingimgcam{
    max-width: 320px;
    padding-top: 80px;
    padding-left: 100px;
    margin-left:5px;
}

.landingimg1{
    max-width: 350px;
    padding-top: 80px;
    margin-left:8px;
}

.sectionrightmega3{
  padding-top: 240px;
  padding-right: 30px;
}


.sectionfontsmega3 > .sectionrightmega3 , .rightheading1{
  font-size:33px;
}

.sectionfontsmega3 > .sectionrightmega3 , .rightheading2{
  font-size:18px;
  width:400px;
}

}


@media only screen and (min-width: 1200px){

.containerclonemega3a{
  height:680px;
}
.containerclonemega3c{
	height:640px;
}

.containerclonemega3b{
  height:680px;
}

.containerclonemega3d{
  height:680px;
}


.landingimg1{
    max-width: 480px;
    padding-top: 80px;
    margin-left:10px;
}


.landingimgcam{
    max-width: 400px;
    padding-top: 80px;
    margin-left:10px;
}


.sectionrightmega3{
  padding-top: 240px;
  padding-right: 40px;
}


.sectionfontsmega3 > .sectionrightmega3 , .rightheading1{
  font-size:36px;
}

.sectionfontsmega3 > .sectionrightmega3 , .rightheading2{
  font-size:19px;
  width:550px;
}
}

.landingimg2{
    float:right;
    width:100%;
    max-width:150px;
    padding-top: 30px;
    padding-bottom:10px;
    margin-right:100px;
}


.landingimgdisplay{
    float:right;
    width:100%;
    max-width:150px;
    padding-top: 30px;
    padding-bottom:10px;
    margin-right:100px;
}


.sectionleftmega3{
  float:left;
  padding-top: 10px;
  padding-bottom:40px;
  padding-left: 30px;
  text-align: left;

}


.sectionfontsmega3 > .sectionleftmega3 , .leftheading1{
  font-size:17px;
  color:#FFFFFF;
  padding-bottom:5px;
}

.sectionfontsmega3 > .sectionleftmega3 , .leftheading2{
  font-size:12px;
  letter-spacing: 0.15px;
  padding-top: 5px;
  color:#FFFFFF;
  width:250px;
}



@media only screen and (min-width: 375px){
.landingimg2{
    max-width:180px;
    margin-right:120px;
}
.landingimgdisplay{
    max-width:180px;
    margin-right:120px;
}


.sectionleftmega3{
  padding-left: 40px;
 
}


.sectionfontsmega3 > .sectionleftmega3 , .leftheading1{
  font-size:19px;
}

.sectionfontsmega3 > .sectionleftmega3 , .leftheading2{
  font-size:14px;
  width:280px;
}
}


@media only screen and (min-width: 480px){
.landingimg2{
   padding-top: 25px;
    max-width: 200px;
    margin-right:180px;
}

.landingimgdisplay{
   padding-top: 25px;
    max-width: 220px;
    margin-right:180px;
}

.sectionleftmega3{
  padding-left: 60px;
 
}


.sectionfontsmega3 > .sectionleftmega3 , .leftheading1{
  font-size:18px;
}

.sectionfontsmega3 > .sectionleftmega3 , .leftheading2{
  font-size:16px;
  width:350px;
}
}


@media only screen and (min-width: 768px){

.containerclonemega3a{ 
  height:440px;
}


.containerclonemega3d{ 
	height:440px;
}
.landingimg2{
    max-width: 180px;
    padding-top: 60px;
    margin-right:25px;
}


.landingimgdisplay{
    max-width: 240px;
    padding-top: 60px;
    margin-right:25px;
}

.sectionleftmega3{
   padding-top: 120px;
   padding-left: 70px;
}


.sectionfontsmega3 > .sectionleftmega3 , .leftheading1{
  font-size:30px;
}

}



@media only screen and (min-width: 1024px){

.containerclonemega3a{
  height:540px;
}
.containerclonemega3d{
	height:540px;
}
.landingimg2{
    max-width: 250px;
    padding-top: 50px;
    margin-right:80px;
}

.landingimgdisplay{
    max-width: 350px;
    padding-top: 80px;
    margin-right:50px;
}

.sectionleftmega3{
  padding-top: 200px;
  padding-left: 50px;
 
}


.sectionfontsmega3 > .sectionleftmega3 , .leftheading1{
  font-size:33px;
  padding-right: 40px;
}
.sectionfontsmega3 > .sectionleftmega3 , .leftheading2{
 font-size:18px;
  width:400px;
}

}



@media only screen and (min-width: 1200px){


.containerclonemega3a{
  height:640px;
}

.containerclonemega3d{
	height:640px;
}

.landingimg2{
    max-width: 350px;
    padding-top: 100px;
    margin-right:100px;
}

.landingimgdisplay{
    max-width: 450px;
    padding-top: 80px;
    margin-right:80px;
}


.sectionleftmega3{
  padding-top: 280px;
  padding-left: 45px;
 
}

.sectionfontsmega3 > .sectionleftmega3 , .leftheading1{
  font-size:36px;
  padding-right: 40px;
}
.sectionfontsmega3 > .sectionleftmega3 , .leftheading2{
 font-size:19px;
  width:550px;
}

}










