
.menu-container {
  width:100%;
  font-family: 'Conv_GothamBook';
  background: #38407F;
}


.menu-mobile {
    display: none;
    padding:10px 0px;
    padding-left: 38px;
    color:white;
    font-weight: 100;
}

.menu-mobile:after {
    content: "\f394";
    color:white;
    font-family: 'Conv_GothamBook', "Ionicons";
    font-size: 2.5rem;
    float:right;
    padding-right: 38px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}


.menu > ul {
    margin: 0 auto;
    width:100%;
    float:none;
    margin: 0 auto;
    list-style: none;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float:left;
    font-size: 15.5px;
}

.menu > ul > li:hover{
  background: #111358;
}


.menu > ul > li a {
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right:89px;
    padding-left:89px;
    color:#fff;
    display: block;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0)
  {
  	.categories
  	{
  		-webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
  	}

  	@-webkit-keyframes webkit-adjacent-element-selector-bugfix
  	{
  		from
  		{
  			padding: 0;
  		}
  		to
  		{
  			padding: 0;
  		}
  	}
  }

@media(max-width:1200px) and (min-width:960px){
  .menu > ul > li a {
    padding-right:69px;
    padding-left:69px;

}

}
  .menu > ul > li > ul    {
    display: none;
    width:100vw;
    height:190px;
    background: rgba(255,255,255,0.6);
    padding: 5px 5px 5px 0px;
    position: absolute;
    z-index: 99;
    left:calc(-50vw + 50%);
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
    text-align: center;
    color:black;
}

.menu > ul > li > ul > li a {
    color: black;
    font-size: 12px;
    padding-left: 5px;
    width: 100%;
    display: block;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin:0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 959px) {
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        width: 100%;
        float:center;
        padding-left:50px;
        padding-right:50px;
        display: block;
    }
    .menu > ul > li a {
        padding: 1em;
        padding-left:85px;
        padding-right:85px;
        width: 100%;
        display: block;
    }
    .menu > ul > li > ul {
        background: #F0F0F0;
    }

    .menu > ul > li > ul.normal-sub {
        display:none;
    }
    .menu > ul > li > ul > li {
        display:none;
    }
    .menu > ul > li > ul > li:first-child {
        display:none;
    }
    .menu > ul > li > ul > li > ul {
        display:none;
    }
    .menu > ul > li > ul > li > ul > li {
        display:none;
    }
    .menu .show-on-mobile {
        display: block;
    }
}



/*Secondary Header of landing pagees*/
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

#nav_bar {
	border: 0;
	background-color:rgba(255,255,255,0.6);
	border-radius: 0px;
	margin-bottom: 0;
  height: 50px;
}

.nav_links {
    margin: 0;
}

.nav_links li {
  float:right;
	display: inline-block;
  padding-right:22px;
  margin-top: 12px;
}

.nav_links li a {
	padding: 0 5px;
	color: black;
	text-decoration: none;
}

ol, ul{
	list-style: none;
}
